
.MapboxAutocomplete .MapboxAutocomplete-dropdown li{
    padding: 3px 20px;
    cursor: pointer;
}

  .react-mapbox-ac-menu {
    width: 100%;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0;
  }
  
  
  div .react-mapbox-ac-input {
    width: 100%;
  }
  
  .react-mapbox-ac-input {
    width: 100%;
    min-width: 500px;
    outline: none;
    flex : 1;
    border: none transparent;
    background: "white";
    margin: 1px 0px 0px 0px;
    box-shadow: none;
    /* padding: 7px; */
    /* border-radius: 7px; */
  }
@media screen and (max-width: 768px) {
    .react-mapbox-ac-input {
        width: 100%;
        min-width: 100px;
        outline: none;
        flex : 1;
        border: none transparent;
        background: "white";
        margin: 1px 0px 0px 0px;
        box-shadow: none;
        /* padding: 7px; */
        /* border-radius: 7px; */
      }
}
  

  .react-mapbox-ac-suggestion {
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .react-mapbox-ac-suggestion:hover {
    background-color: #ccc;
  }
  